[submodule "EmptySource/External/FreeType"]
	path = EmptySource/External/FreeType
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "EmptySource/External/STB"]
	path = EmptySource/External/STB
	url = https://github.com/nothings/stb.git
[submodule "EmptySource/External/RobinMap"]
	path = EmptySource/External/RobinMap
	url = https://github.com/Tessil/robin-map.git
[submodule "EmptySource/External/YAML"]
	path = EmptySource/External/YAML
	url = https://github.com/Consalv0/yaml-cpp.git
[submodule "EmptySource/External/SDL2"]
	path = EmptySource/External/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "EmptySource/External/SPDLOG"]
	path = EmptySource/External/SPDLOG
	url = https://github.com/Consalv0/spdlog.git
